body{
    background-color: rgb(192, 191, 135);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    color: rgba(71, 65, 6, 0.363);
    background-color: rgb(199, 223, 132);
}
h2{
    color: rgb(46, 58, 5);
}
p{
    text-align: justify;
}
